h2 span {
  font-size: 18px;
  font-weight: 200;
}

.btn-style {
  border-radius: 20px !important;
  width: 155px;
}

.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.header-style {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4vw;
}

.input-style {
  border-radius: 20px !important;
}

.scrolling-images {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.img-div {
  display: inline-block;
}

.img-div img {
  height: 40vh;
}

.img-sizing {
  position: relative;
  /* float: left; */
  width:  250px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.AppBackground {
  background-color: #333;
  /* background-color: black; */
  height: auto !important;
  min-height: 100%;
  width: 100%;
}

.white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.logo {
  width: 80%
}

.search-btn {
  /* background-color: #707070 !important; */
  border: 1px solid white !important;
  color: white !important;
}

.search-btn:hover {
  background-color: #707070 !important;
}

.lucky-button {
  /* background-color: #3EA055 !important; */
  border: 1px solid #3EA055 !important;
  color: #3EA055 !important;
}

.lucky-button:hover {
  background-color: #3EA055 !important;
  border: 1px solid #3EA055 !important;
  color: white !important;
}

textarea:focus, input:focus {
  border: 3px solid lightblue;
}